
/*头部*/

header div{
    font-size:0.725rem;
}
header img{
    width: 2.07rem;
    height: 2.07rem;
}
header>div>img{
    width: 0.5rem;
    height: 0.7rem;
    colort:#fff;
    background-color: #fff;
}

/*banner*/

.banner{
    width: 100%;
    /*height: 100%;*/
}
.banner-warp{
    width: 100%;
}
.banner-warp div{
    width: 18.75rem;
    height:6.53rem;
    background: url(../../static/images/banner.jpg) 50% 50%;
    background-size:100% 100%;
}

/*主体内容*/

/*main-top*/

.mywarp{
    /*flex-grow:1;*/
}
.main-top{
    position: relative;
    overflow: hidden;
    height: 5.175rem;
}
.main-top input{
    position: relative;
    left:50%;
    top:0%;
    transform: translate(-50%,20%);
    -moz-transform:translate(-50%,-120%);
    -webkit-transform: translate(-50%,20%);
    /*-moz-transform: translate(-50%,20%);*/
    /*-ms-transform: translate(-50%,20%);*/
    /*-o-transform: translate(-50%,20%);*/
    /*transform: translate(-50%,20%);*/
    width: 17.625rem;
    height: 1.75rem;
    border:none;
    outline: none;
    border:1px solid #c8a775;
    background: url("../../static/images/search.jpg")no-repeat  35% center transparent;
    text-align: center;
    -webkit-background-size:1rem 1.05rem;
    background-size:1rem 1.05rem;
    color:#c8a775;
    border-radius: 5px;
    font-size:0.675rem;
    text-indent:2.05rem;
}
.main-top input:-moz-input-placeholder,
textarea:-moz-input-placeholder {
    color: #c8a775;
}

.main-top input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #c8a775;
}

.main-top input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #c8a775;
}
.main-top-button{
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-100%);
    width: 6.6rem;
    height: 1.6rem;
    color:#fff;
    text-align: right;
}
.main-top-button button{
    height: 121%;
    font-size:0.725rem;
    border-radius: 0.4rem;
}
.main-top-button>button:first-child{
    position: absolute;
    left:0.85rem;
    top:0rem;
    width: 3.075rem;
    color:#c8a775;
    background-color: #fff;
    border:none;
    outline: none;
    border:1px solid #c8a775;
}
.main-top-button>button:last-child{
    width: 3.275rem;
    background-color: #c8a775;
    border:none;
    outline: none;
    border:1px solid #c8a775;
    color:#fff;
    text-align: center;
}
.main-top-button>button:last-child>span{
    display: block;
    margin: 0 auto;
    margin-left: 0.5rem;
    text-align: center;
}

/*main-footer*/

.list-warp{
    width: 100%;
    border-bottom: 1px #d3d5d7 solid;
}
.list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 50%;
    left:50%;
    transform: translate(-50%,-0%);
    width: 17.475rem;
    height: 5.025rem;
}
.list button{
    width: 2rem;
    line-height: 1.1rem;
    border-radius: 0.2rem;
    border:none;
    outline: none;
    font-size: 0.525rem;
    background-color: #fff;
    border:1px solid #8aa4c1;
    color:#8aa4c1;
}
.list-left{
    display: flex;
}
.list-left img{
    width: 2.8rem;
    height: 3.975rem;
    border-radius: 0.125rem;
    border:1px #e7d6bc solid;
    margin-right:0.475rem;
}
.list-text h3{
    font-size:0.65rem;
}
.list-text ul{
    margin-top:0.7rem;

}
.list-text ul li{
    list-style: none;
    font-size:0.4rem;
    color:#8c8c8c;
    line-height:0.875rem;
}
.list .buy{
    color: #ff0f2b;
    border:1px #ff0f2b solid;
}

